* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #eee;
  padding: 10px;
}

.login-list {
  display: flex;
  font-size: 14px;
  font-weight: 600;
}

.login-list li::after {
  content: '|';
  margin-right: 8px;
  margin-left: 8px;
}

.login-list li:last-child::after {
  content: '';
} 

.login span {
  margin-left: 8px;
  margin-top: 2px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 40px;
}

.gnb-list {
  display: flex;
  justify-content: space-between;
  width: 600px;
  font-size: 18px;
  font-weight: 500;
}

.icon-list {
  display: flex;
  align-items: center;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: #eee;
  border-radius: 20px;
  padding: 12px 0;
  margin-right: 30px;
}

.ic-search {
  margin-left: 12px;
  margin-right: 12px;
}

.search-box input {
  background-color: #eee;
  border: none;
  outline: none;
  font-size: 16px;
}

.icon {
  font-size: 22px;
}

.icon:first-child {
  margin-right: 22px;
}
