* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.main-bg {
  height: 300px;
  /* css 파일에서 src 폴더 이미지 넣을 때 ./이미지경로 */
  /* background-image: url('./images/bg.png'); */
  background-size: cover;
  background-position: center;
}
