.center {
  display: flex;
  justify-content: center;
  text-align: center;
}

.box {
  width: 500px;
  border: 5px solid #888;
  margin: 50px 12px 30px 12px;
}

.box img {
  width: 90%;
  height: 300px;
  object-fit: cover;
}

.btn-list button {
  padding: 10px 20px;
  margin: 0 4px;
  border: none;
  border-radius: 6px;
  color: #fff;
  background-color: #888;
  font-weight: 700;
}

.win {
  border-color: green;
}

.lose {
  border-color : red;
}

.tie {
  border-color : #000;
}
