
* {
  margin: 0;
  padding: 0;
  text-align: center;
}

.box-list {
  display: flex;
  justify-content: center;
}

.box {
  width: 420px;
  padding: 30px;
  border: 5px solid #000;
}

.box:first-child {
  margin-right: 20px;
}

.box img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin-top: 20px;
}

button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  margin-top: 20px;
  margin-right: 5px;
}

button:last-child {
    margin-right: 0;
}

.win {
  border: 5px solid green;
}

.lose {
  border: 5px solid red;
}

.tie {
  border: 5px solid #000;
}
